@{
    ViewData["Title"] = "Home Page";
}

<link href="js/lib/layui/css/layui.css" rel="stylesheet" />
<script src="js/lib/echarts.min.js"></script>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/layui/layui.js"></script>
<style>
    .chartListDiv {
        width: 1300px;
        height: 400px;
        margin: 0px 0px 0px -50px;
        background-color: white;
        margin-top: 100px;
    }
</style>
<div style="text-align:center;">
    <h1>搜索指数分析</h1>
</div>

<div class="layui-container layui-form" lay-filter="city_detail" style="width:1300px;">

    <div class="layui-row">
            <div id="newChart" class="chartListDiv" data-lineType1="梵讯房屋管理系统" data-lineType2="房友" data-lineType3="好房通"
                 data-lineType4="易房大师" data-lineType5="房在线"></div>

            <div id="weChart" class="chartListDiv" data-lineType1="梵讯房屋管理系统" data-lineType2="房友" data-lineType3="好房通"
                 data-lineType4="易房大师" data-lineType5="房在线"></div>

    </div>

    <div class="layui-row">
        <div style="width:1170px;height:530px;overflow:hidden;border:0px">
            <div style="width:1200px;height:670px;margin:-205px 0px 0px -50px;">
                <iframe seamless="seamless" style="height: 740px;width: 1300px;" scrolling="no"
                        src="http://index.baidu.com/v2/main/index.html#/demand/%E6%88%BF%E5%8F%8B?words=%E6%A2%B5%E8%AE%AF%E6%88%BF%E5%B1%8B%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F,%E6%88%BF%E5%8F%8B,%E5%A5%BD%E6%88%BF%E9%80%9A,%E6%98%93%E6%88%BF%E5%A4%A7%E5%B8%88,%E6%88%BF%E5%9C%A8%E7%BA%BF"></iframe>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div style="width:1170px;height:500px;overflow:hidden;border:0px">
            <div style="width:1200px;height:670px;margin:-205px 0px 0px -50px;">
                <iframe seamless="seamless" style="height: 740px;width: 1300px;" scrolling="no"
                        src="http://index.baidu.com/v2/main/index.html#/crowd/%E6%88%BF%E5%8F%8B?words=%E6%A2%B5%E8%AE%AF%E6%88%BF%E5%B1%8B%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F,%E6%88%BF%E5%8F%8B,%E5%A5%BD%E6%88%BF%E9%80%9A,%E6%98%93%E6%88%BF%E5%A4%A7%E5%B8%88,%E6%88%BF%E5%9C%A8%E7%BA%BF"></iframe>
            </div>
        </div>
    </div>


</div>

    <script>
        loadChart('new', '/Analysis/GetTrends', '综合竞品指数');
        loadChart('we','/Analysis/GetWeiChatTrends','微信指数');

        function loadChart(chartId,uri,text) {
            var serviceChart = echarts.init(document.getElementById(`${chartId}Chart`));
            var lineType1 = $(`#${chartId}Chart`).attr('data-lineType1');
            var lineType2 = $(`#${chartId}Chart`).attr('data-lineType2');
            var lineType3 = $(`#${chartId}Chart`).attr('data-lineType3');
            var lineType4 = $(`#${chartId}Chart`).attr('data-lineType4');
            var lineType5 = $(`#${chartId}Chart`).attr('data-lineType5');
            var nowDate = new Date();
            var year = nowDate.getFullYear();
            var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1)
                : nowDate.getMonth() + 1;
            var day = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate
                .getDate();
            var dateStr = year + "-" + month + "-" + day;


            $.ajax({
            	type: "GET",
            	dataType: "json",
                url: uri,
                data: { startDate: '2019-01-01', endDate: dateStr },
                success:function (data) {
            var option = {
                title: {
                    text: text,
                    testStyle: { fontSize: 14, fontWeight: 'normal'}
                },
                color: ['#2EC7C9', '#00BFFF', '#FF9933', '#00FF00','#D2691E'],
                tooltip: {
                    trigger: 'axis',
                    extraCssText: 'width:170px;height:150px;'
                },
                legend: {
                    data: [lineType1, lineType2, lineType3, lineType4, lineType5]
                },
                xAxis: {
                    type: 'time'
                },
                yAxis: {
                    type: 'value'
                },
                dataZoom: [{
                    //show: true,
                    type: 'slider',
                    realtime: true,
                   
                    //filterMode: 'filter',
                    start: 90,
                    end: 100,
                    //xAxisIndex: [0, 1],
                    //startValue: '2019-04-20'
                }, {
                    type: 'inside'
                }],
                series: [{
                    name: lineType1,
                    type: 'line',
                    smooth: true,
                    data: data[0],
                    itemStyle: {
                        normal: {
                            lineStyle: {
                                color: '#2EC7C9'
                            }
                        }
                    }
                },
                {
                    name: lineType2,
                    type: 'line',
                    smooth: true,
                    data: data[1],
                    itemStyle: {
                        normal: {
                            lineStyle: {
                                color: '#00BFFF'
                            }
                        }
                    }
                },
                {
                    name: lineType3,
                    type: 'line',
                    smooth: true,
                    data: data[2],
                    itemStyle: {
                        normal: {
                            lineStyle: {
                                color: '#FF9933'
                            }
                        }
                    }
                },
                {
                    name: lineType4,
                    type: 'line',
                    smooth: true,
                    data: data[3],
                    itemStyle: {
                        normal: {
                            lineStyle: {
                                color: '#00FF00'
                            }
                        }
                    }
                },
                 {
                        name: lineType5,
                        type: 'line',
                        smooth: true,
                        data: data[4],
                        itemStyle: {
                            normal: {
                                lineStyle: {
                                    color: '#D2691E'
                                }
                            }
                        }
                  }
                ]
            };
            serviceChart.setOption(option, true);
            }
             });
        }
    </script>
